*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: 1px solid #000;
    text-align: center;
}